@model BTL_Nhom10_ASP.Models.TimeTable

@{
    ViewBag.Title = "Delete";
}

<style>
    dd {
        color: black;
    }

    a {
        color: blue;
    }
</style>
<div class="row" style="margin-top: 50px">
    <div class="col-lg-12">
        <h1>Xóa thời khóa biểu</h1>
    </div>
</div>

<h4>Bạn có chắc chắn muốn xóa thời khóa biểu này không?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về thời khóa biểu", "Index")
        </div>
    }
</div>
