@model BTL_Nhom10_ASP.Models.Notification

@{
    ViewBag.Title = "Details";
}

<style>
    dd{
        color: black;
    }
    a {
        color: blue;
    }
</style>
<div class="row" style="margin-top: 50px">
    <div class="col-lg-12">
        <h1>Chi tiết thông báo</h1>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotificationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotificationContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotificationContent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.NotificationID }) |
    @Html.ActionLink("Trở lại danh sách thông báo", "Index")
</p>
